<nav class="nav nav-masthead justify-content-center">
    <a class="nav-link" asp-controller="Account" asp-action="Register">Register</a>
    <a class="nav-link" asp-controller="Account" asp-action="Login">Log in</a>
</nav>