@model TestViewModel

<div class="automargin-vertical test-margin-top">
    <h1 class="font-weight-light">@Model.Fact.Key</h1>
    <form asp-controller="Test" asp-action="Evaluation" role="form">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Fact.Id" name="factId" />
        <div class="form-group">
            <input asp-for="InputText" class="form-control form-control-lg col-md-12 automargin" name="input" autocomplete="off" autofocus />
        </div>
        <span asp-validation-for="InputText" class="text-danger"></span>
        <button type="submit" class="btn btn-lg btn-light">Next</button>
    </form>
</div>